@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Whisper&display=swap');
.publicity_main {
  display: grid;
  grid-template-columns: 0.8fr 1.2fr;
  height: 100%;
  width: 100%;
  padding: 1rem 5rem;
  gap: 1rem;
  overflow: hidden;
}
.image_publicity {
  width: 100%;
  height: 100%;
  overflow: hidden;

}
.image_publicity img {
  width: 97%;
  height: 97%;
  object-fit: cover;
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow: 7px 7px 8px #c3c3c3, -7px -7px 8px #fdfdfd;
}
.description_publicity {
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 1rem 2rem;
  margin-top: 50%;

}
.description_publicity button {
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgb(227, 179, 117);
  background-color: black;
  color: rgb(227, 179, 117);
  width: 10rem;
  height: 2rem;
  margin-top: 1rem;

}
.description_publicity p {
  font-family: 'Whisper', cursive;
  margin: 0;
  padding: 0;
  font-size: 1.3rem;
}
.description_publicity h2 {
  font-family: "Josefin Sans", sans-serif;
}
.description_publicity h4 {
  font-family: "Josefin Sans", sans-serif;
}
.filter_publicity{
  visibility: 0;
}
.button_descriprion{
  display: none
}
@media (max-width: 1024px) {
  .publicity_main {
    padding: 1rem 4rem;
  }
}
@media (max-width: 768px) {
  .publicity_main {
    padding: 0rem;
  }
  .description_publicity {
    margin-top: 35%;
  }
}
@media (max-width: 425px) {
  .publicity_main {
    height: 100%;
    width: 100%;
    padding: 0rem 0.5rem;
    background-image: url("../../assets/images/products/publicity1.jpeg");
    background-size: cover;
background-position-x: -3rem;

    text-align: left;
    position:relative;
  }
  .image_publicity {
    display: none;
  }
  .description_publicity{
    height:14rem;
    width: 80%;
    position: absolute;
    bottom: 3.5rem;
    left: 3rem;
    backdrop-filter: blur(2px);
    padding: 1rem 0rem;
    margin: 0;
    font-size: 1.2rem;
  }
 .description_publicity button {
  width: 14rem;
  height: 2.4rem;
  font-size: 1.2rem;
 }


  .p_publicity {
    display: none;
  }


}
