.featured_main {
  display: grid;
  grid-template-columns: 0.7fr 1.4fr;
  width: 100%;
  height: 100%;
  gap: 1rem;
  padding: 1rem;
}

.description_featured {
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url("../../assets/images/backFeatured.jpeg");
  background-size: cover;
  display: flex;
  flex-flow: column nowrap;
  justify-content: end;
  text-align: center;
  color: white;
  padding: 1.5rem;
  letter-spacing: 0.1rem;
  font-family: "Josefin Sans", sans-serif;
}

.products_section {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 1.5fr 0.5fr;
  gap: 1rem;
  padding: 5rem 0rem;
  position: relative;
}

.envio {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  padding: 0rem 1rem;
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow: 7px 7px 14px #9b9b9b, -7px -7px 14px #ffffff;
  border: 1px solid black;
}

.containerCards {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  width: 100%;
  gap: 1rem;
  padding: 1rem;
}

@media (max-width: 1024px) {
  .products_section {
    grid-template-rows: 1.2fr 0.7fr;
    border: 1px solid black;
  }
  .products_section {
    padding: 3rem 0rem;
  }
  .containerCards {
    border: 1px solid black;
    padding: 0;
    height: 100%;
  }
}

@media (max-width: 768px) {
  .featured_main {
    grid-template-columns: 1fr;
    grid-template-rows: 0.8fr 1.2fr;
    gap: 1rem;
    padding: 1rem;
  }
  .description_featured,
  .products_section,
  .envio {
    width: 100%;
  }
  .containerCards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
  }
}

@media (max-width: 425px) {
  .featured_main,
  .products_section {
    grid-template-columns: 1fr;
    gap: 0;
    padding: 0;
    height: 100%;
  }
  .products_section {
    grid-template-rows: 1.8fr 0.2fr;
    gap: 0;
    margin: 1px solid rgb(170, 52, 52);
  }
  .containerCards {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    width: 100%;
    height: 100vh;
    gap: 0.5rem;
    padding: 1rem;
    border: 1px solid black;
    overflow: hidden;
  }
  .envio {
    width: 95%;
    margin-left: 0.4rem;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem 0rem;
    box-shadow: 6px 6px 12px #444141, -6px -6px 12px #ffffff;
    border: 1px solid black;
  }
}
