.featured_main {
  display: grid;
  grid-template-columns: 0.7fr 1.4fr;
  width: 100%;
  height: 100%;
  gap: 1rem;
  padding: 1rem;
}

.description_featured {
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url("../../assets/images/backFeatured.jpeg");
  background-size: cover;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  text-align: center;
  color: white;
  padding: 1.5rem;
  letter-spacing: 0.1rem;
  font-family: "Bebas Neue", sans-serif;
}
.description_featured h2 {
  margin: 0;
  padding: 0;
}

.products_section {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 1.3fr 0.7fr;
  gap: 1rem;
  position: relative;
}

.envio {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  overflow: hidden;
  padding: 1rem;
}
.counters {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-content: center;
}

.containerCards {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  gap: 1rem;
  padding: 1rem;
}
.p_featured {
  margin: 0;
  padding: 1rem;
  font-family: "Josefin Sans", sans-serif;
}
@media (max-width: 1440px) {
  .containerCards {
    padding: 4rem 0.5rem;
    height: 100%;
  }
  .p_featured {
    font-size: 1.4rem;
  }
}
@media (max-width: 1024px) {
  .featured_main {
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1.5fr;
    gap: 0rem;
    padding: 0.5rem;
  }
  .description_featured,
  .products_section,
  .envio {
    width: 100%;
  }
  .products_section {
    padding: 0rem;
  }
  .description_featured {
    padding: 0;
    margin: 0;
  }
  .containerCards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1rem 0rem;
  }
  .envio {
    padding: 1rem 0.5rem;
  }
  .p_featured {
    font-size: 1.2rem;
  }
}

@media (max-width: 768px) {
  .featured_main {
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1.5fr;
    gap: 0rem;
    padding: 0.5rem;
  }
  .description_featured,
  .products_section,
  .envio {
    width: 100%;
  }
  .description_featured h2 {
    margin: 0;
    padding: 0;
    font-size: 3.5rem;
    color: white;
    backdrop-filter: blur(1px);
    width: 43rem;
    margin-left: 1.5rem;
    margin-bottom: 2rem;
  }
  .description_featured p {
    margin:0;
    padding: .5rem 1rem;
    backdrop-filter: blur(2px);
    font-size: 1.5rem;
  }
  .products_section {
    padding: 0rem;
  }
  .description_featured {
    padding: 0;
    margin: 0;
  }
  .description_featured p {
    font-size: 1.5rem;
  }
  .containerCards {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 3rem 1rem;
  }
  .envio {
    padding: 1rem 0.5rem;
  }
  .p_featured {
    font-size: 0.9rem;
    padding: 0.5rem;
  }
}

@media (max-width: 425px) {
  .featured_main {
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 1.7fr;
  }
  .products_section {
    grid-template-columns: 1fr;
    gap: 0;
    padding: 0;
    height: 100%;
  }
  .products_section {
    grid-template-rows: 1.5fr 0.5fr;
    gap: 0;
    margin: 1px solid rgb(165, 158, 158);
  }
  .containerCards {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    width: 100%;
    height: 100vh;
    gap: 0.5rem;
    padding: 1rem;
    overflow: hidden;
  }
  .envio {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 0rem;
  }
  .counters {
    width: 100%;
    height: 50%;
    gap: 0.5rem;
    padding: 0;
  }
  .p_featured {
    font-size: 1.1rem;
    padding: 0rem 1rem;
    height: 80%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    font-family: "Josefin Sans", sans-serif;
  }
  .description_featured h2 {
    margin: 0;
    padding: 0;
    font-size: 2.5rem;
    color: white;
    backdrop-filter: blur(1px);
    width: 20rem;
    margin-left: 1.5rem;
    margin-bottom: 1rem
  }
  .description_featured p {
    margin:0;
    padding: .5rem 1rem;
    backdrop-filter: blur(2px);
  }
}
