.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows:  1.8fr 1fr 1fr 1fr 1fr .2fr;
  width: 100%;
  height: 750vh;
  overflow-y: auto;
  background-color: rgb(255, 255, 255);
  scroll-snap-type: y mandatory;
  gap: 3rem;

}

.item {
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  overflow-x: hidden;
  scroll-snap-align: start;

}
.item_sale{
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  height: 180vh;
  width: 100%;
  overflow-x: hidden;
  scroll-snap-align: start;
}
.item_header{
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  height: 200vh;
  width: 100%;
  overflow-x: hidden;
  scroll-snap-align: start;

}
.item_footer {
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  height: 30vh;
  width: 100%;
  overflow-x: hidden;
  scroll-snap-align: start;

}
.item_featured{
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  scroll-snap-align: start;

}

/*============== Scren 770=============*/
@media (max-width: 768px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:  1.8fr 1fr 1fr 1fr 1fr .2fr;
    width: 100%;
    height: 740vh;
    overflow-y: auto;
    background-color: rgb(255, 255, 255);
    scroll-snap-type: y mandatory;
    gap: 1rem;
  
  }
  .item_featured{
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    height: 101vh;
    width: 100%;
    overflow-x: hidden;
    scroll-snap-align: start;

  }
}
/*============== Scren 425=============*/
@media (max-width: 425px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:  1.8fr 1fr 1fr 1fr 1fr .2fr;
    width: 100%;
    height: 945vh;
    overflow-y: auto;
    background-color: rgb(255, 255, 255);
    scroll-snap-type: y mandatory;
    gap: 0rem;


  
  }
  .item_featured{
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    height: 270vh;
    width: 100%;
    overflow-x: hidden;
    scroll-snap-align: start;

  }
  .item_sale{
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    height: 230vh;
    width: 100%;
    overflow-x: hidden;
    scroll-snap-align: start;
  }
}