.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1.8fr 1fr 1fr 1fr 1fr 0.2fr;
  width: 100%;
  height: 645vh;
  overflow-y: auto;
  background-color: rgb(255, 255, 255);
  position: relative;
  gap: 1rem;
}

.item {
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  height: 120vh;
  width: 100%;
  overflow-x: hidden;
  scroll-snap-align: start;
}
.item_sale {
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  height: 150vh;
  width: 100%;
  overflow-x: hidden;
}
.item_header {
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
}
.item_footer {
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  height: 40vh;
  width: 100%;
  overflow-x: hidden;
}
.item_featured {
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  height: 110vh;
  width: 100%;
  overflow-x: hidden;
  scroll-snap-align: start;
}
.item_nav {
  width: 100%;
  height: 15vh;
  display: flex;
  position: fixed;
  z-index: 10;
  background-color: aliceblue;
}
/*============== Scren 1440=============*/
@media (max-width: 1440px) {
  .item_sale{
    height: 200vh;
  }
  .item_footer {
    height: 30vh;
  }
}
/*============== Scren 770=============*/
@media (max-width: 768px) {
  .item_nav {
    height: 12vh;
  }
  .item_sale {
    height: 180vh;
  }
  .item_footer {
    height: 45vh;
  }
  .item_featured {
    height: 100vh;
  }
}
/*============== Scren 425=============*/
@media (max-width: 425px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.8fr 1fr 1fr 1fr 1fr 0.2fr;
    width: 100%;
    overflow-y: auto;
    background-color: rgb(255, 255, 255);

    gap: 0rem;
  }
  .item_featured {
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    height: 210vh;
    width: 100%;
    overflow-x: hidden;
  }
.item_sale{
  height: 350vh;
}
  .item_nav{
    height: 10vh;
  }
  .item{
    height: 100vh;
  }
  .item_footer {
    height: 50vh;
  }
}
