.productCard {
  position: relative;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  width: 100%;
  height: 100%;
  box-shadow: 6px 6px 12px #cecece, -6px -6px 12px #f2f2f2;
  border-radius: .5rem;
  padding: .5rem 1rem;
}

.imageContainer {
  display: flex;
  width: 100%;
  height: 100%;
}

.imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.productImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: opacity .8s cubic-bezier(0.22, 0.61, 0.29, 0.69)
}

.productOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition:all .8s ease-in-out;
  object-fit: contain;

}

.viewButton {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #86868675;
  padding: .5rem 1rem;
}

.viewButton button {
  position: absolute;
  top: 85%;
  left: 2.8rem;
  border: none;
  width: 10rem;
  height: 2rem;
  border-radius: 0.2rem;
  box-shadow: 0 0 10px rgb(227, 179, 117);
  background-color: black;
  color: rgb(227, 179, 117);
  cursor: pointer;
}

.viewButton h2,
.viewButton p,
.viewButton span {
  font-family: "Bebas Neue", sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  letter-spacing: 0.1rem;
}

.viewButton h2 {
  font-size: 2rem;
}

.viewButton p {
  font-size: 1rem;
}

.viewButton span {
  font-size: 4rem;
}

.productCard:hover .productImage {
  transform: scale(0.8);
}

.productCard:hover .productOverlay {
  opacity: 1;
}
/*============== Scren 1024=============*/
@media (max-width: 1024px) {
  .viewButton button {
    top: 84%;
    left: 25%;
    width: 8rem;
    height: 2rem;
  }
  .viewButton h2 {
    font-size: 1.5rem;
  }
  
  .viewButton p {
    font-size: 1rem;
  }
  
  .viewButton span {
    font-size: 3rem;
  }
}
/*============== Scren 770=============*/
@media (max-width: 768px) {
  .viewButton button {
    top: 85%;
    left: 15%;
    width: 8rem;
    height: 1.5rem;
  }
}
/*============== Scren 425=============*/
@media (max-width: 425px) {
  .viewButton{
    padding: 1.5rem 0rem;
  }
  .viewButton button {
    top: 14rem;
    left: 6.2rem;
    width: 9rem;
    height: 2rem;
    font-size: 1.1rem;
  }
  .viewButton h2 {
    font-size: 2.2rem;
  }
  
  .viewButton p {
    font-size: 1.5rem;
  }
  
  .viewButton span {
    font-size: 2rem;
  }
}
/*============== Scren 375=============*/
@media (max-width: 375px) {}